.banner-slider-container {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.banner-slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner-slider-image.active {
    opacity: 1;
}

@media (max-width: 1024px) {
    .banner-slider-container {
        height: 450px;
    }
}

@media (max-width: 600px) {
    .banner-slider-container {
        height: 260px;
    }
}