.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  font-family: Arial, sans-serif;
  color: #333;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 16px;
}
.breadcrumb .active {
  color: #bb0c0c;
  font-weight: 600;
}

.cart-content {
  display: flex;
  gap: 24px;
}

.cart-table {
  border-collapse: collapse;
  width: 70%;
  border: 1px solid #ddd;
}

.cart-table tr {
    border: 1px solid #ddd;
    height: 100px;
}

.cart-table th,
.cart-table td {
  padding: 16px;
  text-align: center;
  vertical-align: middle;
}

/* Cột thông tin sản phẩm */
.product-info {
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: left;
  line-height: 1.4;
}

.product-info > div {
  display: flex;
  flex-direction: column;
  justify-content: center; /* căn giữa theo chiều dọc */
}


.product-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.product-info .product-name {
  font-weight: 500;
  margin-bottom: 4px;
}

.product-info .product-variant {
  font-size: 14px;
  color: #555;
  margin-bottom: 4px;
}

.delete-btn {
  background: none;
  border: none;
  color: red;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

/* Giá */
.price,
.total-price {
  font-weight: bold;
  color: #222;
}

/* Số lượng */
.quantity {
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.quantity button {
    padding: 2px 2px;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-qty {
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.btn-qty:hover {
  background-color: #f2f2f2;
}


.total-price {
  font-weight: 600;
  color: #bb0c0c;
}

.cart-summary {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.shipping-time label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.shipping-time input[type="date"],
.shipping-time select {
  width: 100%;
  padding: 6px 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.shipping-time div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  user-select: none;
}

.checkout {
  text-align: right;
}

.total {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 16px;
}

.total-amount {
  color: #bb0c0c;
}

.checkout-btn {
  background-color: #bb0c0c;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #990808;
}
