.navbar {
    width: 100%;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #000;
}

/* --- Banner freeship --- */
.navbar-banner img {
    width: 100%;
    height: auto;
    display: block;
}

/* --- Navbar top (Đăng nhập / Đăng ký) --- */
.navbar-top {
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    font-size: 14px;
    background-color: #f5f5f5;
    border-bottom: 2px solid #b11116;
}

.text-list {
    margin-left: 45px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    transition: opacity 1s ease-in-out;
}

.text-list.hide {
  opacity: 0;
}

.navbar-top button {
    background-color: #c00;
    color: #fff;
    border: none;
    padding: 14px 12px;
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
}

/* --- Thanh tìm kiếm --- */
.navbar-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    position: relative;
}

.navbar-search-input {
    width: 250px;
    padding: 10px 16px;
    border: 2px solid #626262;
    border-radius: 40px;
    font-size: 14px;
    transition: all 0.3s ease-in-out; /* Mượt mà khi thay đổi */
}

.navbar-search-input::placeholder {
    color: #888;
    font-size: 14px;
    line-height: 1.5;
    opacity: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30, end) infinite; /* Tạo hiệu ứng typing */
}

/* Animation cho placeholder */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.navbar-search-icon {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    color: #333;
}

/* --- Navbar chính: logo + icon --- */
.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid #eee;
}

.navbar-logo img {
    margin-top: 5px;
    width: 350px;
    height: 55px;
    object-fit: contain;
}

/* --- Icons kiểm tra, yêu thích, giỏ hàng --- */
.navbar-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 14px;
  cursor: pointer;
}

.navbar-icon svg {
  font-size: 24px;
}

.navbar-icon-badge {
  position: absolute;
  top: -6px;
  right: 6px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* --- Navbar Menu --- */
.navbar-menu {
  background-color: #b11116;
}

.navbar-menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 12px 0;
  margin: 0;
}

.navbar-menu li {
  color: white;
  margin: 0 16px;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}

.navbar-menu li:hover {
  text-decoration: underline;
}
